
//// ESTILOS AÑADIDOS
//// MENÚ

$menu-submenu-item--hover: #212121;
$menu-submenu-item-background--hover: #f5f5f5;

.navbar{
	margin:0;
}
.navbar-menu{
    padding:0;
    font-size: 1.1rem;
    ul{
        text-transform:uppercase;
        ul li a{
            padding:14px;
        }
    }
    .mymenu1 .sub-menu li:hover > a {
       color: $menu-submenu-item--hover !important;
       background: $menu-submenu-item-background--hover;
    }
}
.menu-item-has-children a{
    &:hover{
        color:white;
    }
}
.navbar-menu-link{
    padding:14px 0 14px 0;
    font-family: Montserrat!important;
    padding: 1rem;
}

#tgtext-1{
    display: none;
}


body {
    .cart-contents{
        display: flex !important;
        padding-left: 1.5rem;
        &:before{
            font-size: 1.5rem;
            margin-top: 13px;
        }
    }
}



#page{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Libre Franklin','Helvetica Neue', helvetica, arial, sans-serif;;
}


.kb-container{
    display: flex;
    justify-content: center;
    
}
.kb-bloq{
    text-align: center;
    background: black;
    padding: 0 1.5rem;
    margin: -3rem 0 1rem 0;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    line-height: 1.2;
    transform: skewY(-2deg);
}





